body, html {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
  touch-action: none;
}

canvas {
  position:absolute;
  width:100%;
  height: 100%;
  background: hsl(193, 86%, 10%);
  cursor: crosshair;
}